/*
Theme Name: Avada Child
Description: Child theme for Avada theme
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain: Avada
*/

/* Page */
.page .post-content p a,
.comment-respond a,
.post .post-content p a { color: #427ed1; }

/* Post */
.single-navigation {
	margin-bottom: 20px;
	height: auto;
}

.single-navigation a {
	max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
.single-navigation a:first-child { float: left; padding-left: 10px; }
.single-navigation a[rel=next] { float: right; margin-right: 0; padding-right: 10px; }
.pagination-next:after, .single-navigation a[rel=next]:after, .woocommerce-pagination .next:after { padding-left: 5px; right: 0; }

.single-navigation a[rel=prev]:before { margin-left: 0; }
.single-navigation a[rel=next]:after { margin-right: 0; }

.post #snippet-box {
	border-color: #fff !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin: 0;
}

.single-post .fusion-page-title-bar { display: none; }

.single-post .fusion-post-title { margin-bottom: 16px; }
.single-post .subtitle {
	margin-bottom: 25px;
    margin-top: 0;
    font-weight: normal;
    line-height: 100%;
    font-style: italic;
}

/* Authors */
.fusion-author-social { margin-bottom: 40px; }
.about-author.top-author { margin-top: 0; margin-bottom: 20px; }
.fusion-author.top-author .fusion-author-info {  line-height: 1.3em; }
.fusion-author.top-author .fusion-author-title { font-weight: normal; line-height: 1em; }

.authors-list .fusion-author {
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #EAEAEA;
    border-bottom-width: 3px;
}
.authors-list .fusion-author-social {
    margin-bottom: 0px;
}

@media only screen and (max-width: 767px) {
	.fusion-mobile-menu-design-modern.fusion-header-v5.fusion-logo-center .fusion-logo {
		width: 100%;
	}
	.fusion-header-wrapper .fusion-header-v5 .fusion-header > .fusion-row {
		margin-top: 25px;
	}
	.fusion-header-wrapper .fusion-header-v5 .fusion-mobile-menu-icons a {
		position: absolute;
		top: -32px;
		right: 0;
	}

	.fusion-social-networks.boxed-icons .fusion-social-network-icon { padding: 2px; margin: 0 3px 10px; }
}